*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



table {
    border-collapse: collapse;
    border: 1px solid black;
    
}

td , tr, th {
    padding: 3px;
}


.head_address{
    text-align: center;
    height: 30px;
}

.footer{
    
    height: 100px;
    vertical-align: bottom;
   
}

.timing{
    text-align: center;
}



.bold{
    font-weight: bold;
}



